.footer {
  background-color: #000;
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.footer-text {
  margin: 0;
  color: #6c757d;
  font-size: 14px;
}

.developer-logo {
  height: 20px;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .footer-text {
    font-size: 12px;
  }
}